mixin book(vfor)
  .book(v-for=vfor)
    img.book-image(:src='book.thumbnail')
    h3.booktxt
      a(:href='book.link' target='_blank').book-title {{book.title}}
    p.book-author.booktxt(v-if='book.authors') by {{ book.authors.join(', ') }}
    p.book-published.booktxt {{ book.publishedDate }}
    p.book-shortdescription.booktxt {{ book.subtitle }}
    if (block)
      block
