.profile-image
  height 150px
  width 150px
  border-radius 1rem

.profile-map
  height 180px
  width 280px
.leaflet-control-attribution
  display none
leaflet-map
  display block


h2
  font-size 1.3rem
  padding .5rem
  align-items baseline

.map-loci
  margin 1rem 0

.searchbox
  input
    width 200px
    padding .5rem 0
  > *
    background white
  &-search
    padding .5rem
    border-radius .3rem 0 0 .3rem
  &-clear
    padding .5rem
    border-radius 0 .3rem .3rem 0

// profieLoci
.pl-place
  background white
  width 200px
  padding .5rem 0 .5rem .5rem
.pl-edit
  padding .5rem
  background white
  align-items baseline

.pl-edit-text
  margin-left .25rem
  border-bottom .2rem solid black
