include bookshelf_element.pug

.account-layout.flex-row(v-if='account_loaded')
  .account-box.md0
    .flex-center
      img.account-headshot(
        :src=`'https://twitter.com/'+account._id+'/profile_image?size=original'`)
    .flex-center
      h2.padv1(v-if='is_user') @{{account._id}}

  .account-box.md0
    h2.account-myloc Location
    .flex-center.padHalf
      .pl.flex-row(v-if='loci_ui.search === false')
        .pl-place {{account.loci.name}}
        .pl-edit.flex-row(@click='user_loci__ui_edit()' v-if='me_account')
          .flex-center.pl-edit-icon: i.fa.fa-pencil
          .pl-edit-text edit
      .searchbox.flex-row(v-if='me_account && loci_ui.search === true')
        .flex-center.searchbox-search: i.fa.fa-search
        input(
          v-model='loci_ui.input'
          @blur='user_loci__change_ui($event)', @keyup.enter='user_loci__change_ui($event)')
        .flex-center.searchbox-clear(@click='user_loci__ui_clear()'): i.fa.fa-close

    .flex-center
      .account-map.leaflet-map

  .account-box.account-contact-box.md0
    h2.account-myloc Contact Details:
    h6.contcat-sub (Know you choose which contact details to send when accepting or sending a trade request)
    .account-contact.account-contact-name
      .key Name:
      .val Jonathan T L Lee
    .account-contact.account-contact-phone
      .key Phone
      .val +44 7895 877698
    .account-contact.account-contact-tw
      .key Twitter:
      .val @JonoLee1
    .account-contact.account-contact-email
      .key Email:
      // TODO send and verify email on nodejs
      .val jono-lee@hotmail.co.uk
    .account-contact.account-contact-fb
      .key Facebook
      button connect with fb
      .val https://facebook.com/jleey96
    .account-contact.account-contact-fb
      .key Addition contact info:
      .val ...
      .sub limited to 400 characters
      
  +bookshelf({
    title: 'Books',
    path: '/me_books',
    bookshelf: 'account_books',
    layout: 'horizontal'
  })
    include book__add_element.pug

.layout-fullscreen.flex-center(v-show='account_loaded === false')
  include loaders.pug
