.add_book
  h2 Add a book to my collection
  .search
    input(
      placeholder='search by book title or isbn', v-model='add_book.search_req.query',
      v-on:keyup.enter='add_book__search_books(add_book.search_req)')
    .serach-icon.flex-center
      i.fa.fa-search

  p.booklist-showing
    | showing results for "{{ add_book.search_res.query }}"
    | at page {{ add_book.search_res.pagenum }}
    | of {{ add_book.search_res.pages }}

  .booklist
    .book(v-for='book in add_book.search_res.books')
      .book-image
        img(:src='book.thumbnail')
      h3.booktxt
        a(:href='book.link' target='_blank').book-title {{book.title}}
      p.book-author.booktxt(v-if='book.authors') by {{ book.authors.join(', ') }}
      p.book-published.booktxt {{ book.publishedDate }}
      p.book-shortdescription.booktxt {{ book.subtitle }}
      .clear

  .flex-center
    .pgs
      .pg.flex-center(
        v-for='page in pagination(add_book.search_res.pagenum, 3, add_book.search_res.pages)',
        :class=`{active: page.active}`
      )
        div(
          v-if='page.start',
          @click='add_book__change_page(page.n)') <
        div(v-if='page.end',
          @click='add_book__change_page(page.n)') >
        div(v-if=`!page.start && !page.end`
          @click='add_book__change_page(page.n)') {{ page.n }}
