.android_addbtn.flex-row(v-if='me_account' @click=`route__go('/me_books/add', 'pushState')`)
  .circle.flex-center.md0
    i +
    .book-icon.book-icon-owner.flex-center.add-circle
      i.fa.fa-bookmark-o
