include bookshelf_element.pug

.padv1
.flex-center.padHalf
  .searchbox.flex-row
    .flex-center.searchbox-search(@click='book_search(bs1)'): i.fa.fa-search
    input(
      placeholder='input book title or isbn',
      v-model='bs1.req.query',
      @blur='',
      @keyup.enter='book_search(bs1)')
    .flex-center.searchbox-clear(@click=`bs1.req.query = ''`): i.fa.fa-close

p.flex-center.bookshelf-showing(v-show='bs1.res.show')
  | showing results for "{{ bs1.res.query }}"
  | at page {{ bs1.res.pagenum }}
  | of {{ bs1.res.pages }}
div(v-if='bs1.res.show')
  +bookshelf({
    bookshelf: `format_books(bs1.res.books)`, 
    layout: 'horizontal', 
    showTitle: false,
    bookblock: true
  })

.flex-center(v-show='bs1.res.show')
  .pgs.md1
    .pg.flex-center(
      v-for='page in pagination(bs1.res.pagenum, 3, bs1.res.pages)',
      :class=`{active: page.active}`,
      @click='book_search__change_page(bs1, page.n)'
    )
      div(v-if='page.start') <
      div(v-if='page.end') >
      div(v-if=`!page.start && !page.end`) {{ page.n }}
