include android_tabs.pug
header.header
  .header-titlerow.flex-row
    .header-title.flex-center: h1 #booktrade
    .flex-gap
    .flex-gap
    .header-icon.header-bell.flex-center: .circle.flex-center
      //- notifications
      i.fa.fa-bell-o
    .header-icon.ellipsis-tog.flex-center(
      :class='{active: header.menu.open}'
      @click='header__elipsis_tog(header.menu)'
      ): .circle.flex-center
      i.fa.fa-ellipsis-v
  //- .nav-bottom(v-show='header.navInFirstRow === true')
  //-   +android_tabs('nav')

.ellipsis-fullscreen(
  :class='{show: header.menu.open, darkroom: header.menu.open}'
  @mousedown='ellipsis_clickaway($event, header.menu)'
  @touchstart='ellipsis_clickaway($event, header.menu)'
  )
  nav.ellipsis-menu
    li(v-for='item in header.menu.items' aria-hidden='true') {{ item.text }}
