header
  .header-line.flex-center
    h1.header-title.flex-center
      i.fa.fa-bookmark-o
      | #booktrade
    .flex-gap
    .header-bars.flex-center(@click='header_tog')
      i.fa.fa-bars
        .count.flex-center(v-show='header_count > 0') {{ header_count }}
  .header-rightpanel(:class='{header_open: header_open}')
    .header-rightpanel--color
      .rightpanel-item(v-if='user_id !== undefined')
        .rightpanel-item-title logged in as
        .rightpanel-item-content
          img.user_id-pic(
            v-bind:src=`'https://twitter.com/'+user_id+'/profile_image'`)
          .gap-horizontal
          span.user_id-txt @{{ user_id }}
      .rightpanel-item(v-if='user_id === undefined' @click='login')
        .rightpanel-item-content
          span login with twitter
          .gap-horizontal
          i.fa.fa-twitter
      .rightpanel-item(v-if='user_id !== undefined' @click='logout')
        .rightpanel-item-content
          span logout
          .gap-horizontal
          i.fa.fa-sign-out
      .rightpanel-item
        include trade_req_small.pug
