include header_back.pug
header.header.md1
  +header_back('/', '#booktrade', true, true)
  +header_back('/my-account', 'My Account', true)
  +header_back('/my-bookshelf', 'My Bookshelf', true)
  +header_back('/my-bookshelf/add', 'Add Book', false)

.ellipsis-fullscreen(
  :class='{show: header.menu.open, darkroom: header.menu.open}'
  @mousedown='ellipsis_clickaway($event, header.menu)'
  @touchstart='ellipsis_clickaway($event, header.menu)'
  )
nav.ellipsis-menu.md2(
   :class='{show: header.menu.open}'
  )
  li
    i.fa.fa-refresh
    span.bit-horizontal
    | refresh
  li(@click='user__settings_click()')
    i.fa.fa-cog
    span.bit-horizontal
    | my account
  li(
    @click='user__logout_btn()'
    )
    i.fa.fa-sign-out
    span.bit-horizontal
    | logout
