$main_color = rgb(110, 36, 90)
.header
  background-color $main_color
  color #fff
  box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  &-titlerow
    align-items stretch
    & > *
      padding 1rem
  &-title
    font-size 1.3rem
  &-icon
    padding 0 1rem
    i
      font-size 1.3rem
.nav
  position relative
  align-items stretch
  overflow-x scroll
  &-active
    position absolute
    bottom 0px
    transition all .4s ease
    left 0
    width 25%
    padding 2px
    background white
  &-item
    padding .5rem 1rem 1rem 1rem
    flex 1
    text-align center
    list-style none
    text-transform uppercase
    font-family ubuntu mono
