.header
  .header-titlerow.flex-row
    .header-title.flex-center: h1 #booktrade
    .flex-gap
    .nav(:class='{show: header.navInFirstRow === true}')
      .nav-active(:style='{width: header.nav_active.width, left: header.nav_active.left}')
      li.nav-item(
        v-for='(item,i) in header.nav',
        :class='{active: item.active === true}',
        @click='header_navclick(i)'): .flex-center {{ item.text }}

    .flex-gap
    .header-icon.header-bell: .flex-center
      //- notifications
      i.fa.fa-bell-o
    .header-icon.header-bars: .flex-center
      i.fa.fa-ellipsis-v
  .nav.nav-bottom(:class='{show: header.navInFirstRow === false}')
    .nav-active(:style='{width: header.nav_active.width, left: header.nav_active.left}')
    li.nav-item(
      v-for='(item,i) in header.nav',
      :class='{active: item.active}',
      @click='header_navclick(i)'): .flex-center {{ item.text }}
