.android_addbtn
  position absolute
  bottom 1rem
  right 1rem
  z-index 2
  &-text
    align-self center
    padding .5rem
    padding-right 1rem
    color white
    background #0075bf
    border-radius 1rem 0 0 1rem
  .circle
    margin-left -.5rem
    width 4rem
    height 4rem
    background #0075bf
  i
    font-size 3rem
    font-style normal
    color white
