include _book_item.pug
.my_books
  h2 My Trade
  .search
    input(
      placeholder='filter', v-model='my_trade__filter_term',
    )
    .serach-icon.flex-center
      i.fa.fa-filter

  .booklist
    +book('book in my_trade__view()')
      .btn-row
        .btn.btn-remove_book(
          @click='my_trade__remove(book.id)'
          ) remove from trade
