.layout-notifcations
  max-width 600px
  margin 1rem auto
  h2
    padding 1rem
.note
  border-bottom 6px solid #eee7e4
  background white
  opacity .6
  transition all .25s ease
  &.unread
    background #bde7ff
  &.unopened
  &:hover
  &:active
    opacity 1
  &-date
  &-message
    padding 1rem
  &-date
    background #ececec

.blue-link
  color #0000a5
  text-decoration underline
