h2 Trade Listings
// TODO replace with real content
table
  thead
    tr
      th date
      th username
      th trade status
  tbody
    tr(v-if='sb.users.length === 0')
      td(colspan='4') No-one listing book for trade
    tr(v-for='owner in traders(sb.users)',
      :class='owner_class(owner)')
      td {{ fulltime(owner.trade.creation_date) }}
      td.blue-link(@click=`route__go('/user/'+owner.user_id, 'pushState')`) @{{ owner.user_id }}
      td(v-if='owner__trade_status(owner) === "ME"') that's ME
      td(v-else-if=`owner__trade_status(owner) === 'NOT_SENT'`)
        button.button-tradereq.md0(@click='trade__request(sb._id, owner.user_id)') send trade request
      td(v-else-if=`owner__trade_status(owner) === 'AWAITING'`) AWAITING
      td(v-else-if='owner__trade_status(owner) === "ACCEPTED"') ACCEPTED
      td(v-else-if='owner__trade_status(owner) === "DECLINED"') DECLINED
  //-
    tr
      td
    tr
      td.td-right 2017-02-28
      td @Samprick
      td Nottingham - United Kingdom
      td
        button.button-tradereq.md0 send trade request
    tr.tr-awaiting
      td.td-right 2017-02-28
      td @Samprick
      td Nottingham - United Kingdom
      td AWAITING
    tr.tr-accepted
      td.td-right 2017-02-28
      td @Samprick
      td Nottingham - United Kingdom
      td ACCEPTED
    tr.tr-declined
      td.td-right 2017-02-28
      td @Samprick
      td Nottingham - United Kingdom
      td DECLINED
