.rightpanel-item-title trade request
.trade_req_item
  .trade_req_field from
  .trade_req_val @JonoLee1
.trade_req_item
  .trade_req_field wants
  .trade_req_val
    span {{ book.title }}
    span= ' by '
    span {{ book.authors[0] }}
    span.gap
    i.fa.fa-angle-down
  img.book-thumbnail(:src='book.thumbnail')
.trade_req_item
  .trade_req_field_full offering
  .trade_req_val_full
    ul.offerings-list
      li Free collection
      li pay £20 + shipping cost
      li trade with "Restoring Abrahamic faith by James Tabour"
      li trade with one from me collection
.trade_req_options
  .trade_req_accept: .box accept
  .trade_req_reject: .box reject
  .trade_req_later: .box later
