.trade_req
  &_item
    line-height 1.5
    display flex
    flex-flow row wrap
    margin .5rem 0
  &_field
    text-transform capitalize
    font-size 0.9rem
    letter-spacing 0.2rem
    background #420d4580
    padding .5rem
    border-radius .5rem 0 0 .5rem
  &_val
    padding .5rem
    background rgba(66, 13, 69, 0.27)
    flex 1
    border-radius 0 .5rem .5rem 0

.trade_req_field_full
  text-transform capitalize
  font-size 0.9rem
  letter-spacing 0.2rem
  background #420d4580
  padding .5rem
  border-radius .5rem .5rem 0 0
  width 100%

.trade_req_val_full
  padding .5rem
  background rgba(66, 13, 69, 0.27)
  border-radius 0 0 .5rem .5rem

.trade_req_options
  display flex
  flex-flow row wrap
  & > *
    text-transform capitalize
    font-size 0.9rem
    letter-spacing 0.2rem
    text-align center
    padding .3rem
    width 50%
  & .box
    padding .7rem
  .trade_req_later
    width 100%
  .trade_req_later .box
    background #424242
  .trade_req_reject .box
    background #9e4848
  .trade_req_accept .box
    background #39876d


.offerings-list li
  list-style circle
  margin-left 1rem
