include _book_item.pug

h2 My Trade
.search
  input(
    placeholder='filter', v-model='my_trade__search_term',
  )
  .serach-icon.flex-center
    i.fa.fa-filter

.bookshelf
  +book('book in bookshelf__view(tradeshelf(), my_trade__search_term)')
    .btn-row
      .btn.btn-remove_book(
        @click='trade__unlist(book.id)'
        ) remove from trade
