#app(v-cloak)
  include modules/header.pug
  .content
    .stage(v-show=`router.path === '/my-account'`): include modules/account.pug
    //- .stage: include modules/about.pug
    //- .stage: include modules/book_search.pug
    //- .stage: include modules/bookshelf.pug
    //- .stage: include modules/trade.pug
    //- .stage: include modules/trade_reqs_sent.pug
    //- .stage: include modules/trade_reqs_recieved.pug
