#app(v-cloak)
  //- include modules/header.pug
  .content
    .stage: include modules/about.pug
    .stage: include modules/add_books.pug
    .stage: include modules/bookshelf.pug
    .stage: include modules/my_trade.pug
    .stage: include modules/my_trade_reqs.pug
