@require './lib/jonoreset.styl'

$font1 = 'PT Serif'

.flex-row
  display flex
  flex-flow row wrap
  justify-content flex-start

.flex-center
  display flex
  justify-content center
  align-items center

.flex-gap
  flex-grow 1

.text-letterspace
  text-transform capitalize
  font-size 0.9rem
  letter-spacing 0.2rem

body
  background-image url('/bg.png')
  font-family $font1
  overflow hidden
.content
  overflow scroll
  background-color rgba(48, 11, 71, .3)
  height calc(100vh - 3rem)
  width 100%
  @media screen and (min-width: 600px)
    width calc(100% - 250px)

.gap
  padding 0 .5rem

h2
  font-size 1.5rem

@require 'modules/header.styl'
@require 'modules/trade_req_sidebar.styl'
@require 'modules/add_book.styl'

// *
//   outline 1px solid grey
