h2 About
p #booktrade is a webapp where you can add books that you own to a virtual bookshelf, you can then list a book for other members to contact you and come to trade agreement.

p disclamer. you as a member agreeing to this service are responsible for any your personal information like phone number, address, which you can share via messages to another member of booktrade. so be sure your talking to a real and good person (hopefully). the only information we get from you is you twitter name,  city and country, and any books you list.

.gap-vertical
h2 Instructions / Guide

h3 1. Add book to bookshelf
p quite simple really. have a look at your bookshelf/pile in-real-life, search for your book, and click 'add to bookshelf'.

h3 2. Add book to trade
p once a book is in your virtual 'my bookshelf', you can click 'add to trade' on that book. this causes your book to be listed publically so other members can see your book, that you may, no longer want or want to barter/trade.

h3 3. Send a 'trade request'
p You can search for a book you want and send a 'trade request'. its really just an quick informal way agreeing to contact someone. you can decline or accept trade agreements.

h3 4. Accept or Decline a 'trade request'
p simple quick way to let the other party know your are (or are not) interested in their request.

h3 5. Afer that...
p touchwood and hopefully you'll be able to trade/exchange in-real-life, it's nice after you've traded a book to remove the book from your trade deck. just click 'my trade deck' and 'unlist'.

.gap-vertical
.flex-center
  .btn login with twitter
.gap-vertical
.gap-vertical
